
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * https://fantastic-admin.hurui.me
 */
  
.json-block[data-v-92bae3c1]{white-space:pre-wrap;word-break:break-all;background:#f5f7fa;border-radius:6px;max-height:420px;padding:12px;font-size:12px;line-height:1.5;overflow:auto}
